<div fxLayout="row" fxFill fxFlex="100%">
  <div class="value" fxFlex="75%">
    {{ value.value }}
  </div>
  <div class="buttons" fxFlex="30%">
    <button mat-icon-button color="warn" (click)="remove()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
