<div class="container add-todo" fxFlexFill fxLayoutAlign="center center" fxLayout="column">

  <div>
    <h1>Todo toevoegen</h1>
  </div>

  <div fxLayout="row" fxLayoutGap="30%">
    <div fxFlex>
      <mat-form-field>
        <input matInput placeholder="Todo" [formControl]="todo" (keydown)="onKeyDown($event)">
      </mat-form-field>
    </div>


    <div fxFlex>
      <button type="submit" [disabled]="!todo.valid" (click)="onSubmit()" mat-raised-button color="accent">Voeg toe</button>
    </div>
  </div>

</div>
